@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.App {
  text-align: center;
  cursor: url(./assets/cursor-20-filled.svg), auto
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.muteButton {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: #fff6e9;
}
.muteButton-night {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  background-color: #BFBAE1;
}
/* start of main menu */

/* .mainmenu-container{
  background-color: #FFE8C8;
  font-family: Kanit;
}

.bomg-img{
  margin-top: 5px;
}

.sun-img{
  margin-bottom: 10px;
}

.moon-img{
  margin-bottom: 10px;
}

#findmymines-text{
  font-size: 45px;
  color: #D4492A;
}

.start-page-form{
  text-align: center;
  border: none;
  font-size: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.theme-select-text{
  font-size: 25px;
}

.theme-select-grid{
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  margin: auto;
}

.day-night-btn{
  background-color: #FFF6E9;
  color: black;
  font-family: Kanit;
}

.day-btn{
  width: 50px;
}

.night-btn{
  width: 50px;
}

#start-btn{
  font-family: Kanit;
  color: black;
  font-size: 30px;
  background-color: #b5cb99;
  margin: 10px;
  width: 400px;
}

#leaderboard-btn{
  font-size: 30px;
  background-color: #186f65;
  width: 400px;
  margin-bottom: 10px;
} */

/* End of Main Menu */

/* Start of Leaderboard */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff6e9;
  width: 100%;
  height: 100%;
}

.container-night {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bfbae1;
  width: 100%;
  height: 100%;
}

/* Avatar.css */
.exit {
  position: absolute;
  top: 0; /* Position at the top of the container */
  right: 0; /* Position at the right of the container */
  padding: 10px; /* Adjust as needed to add space around the button */
  cursor: pointer; /* Add a cursor style to indicate it's clickable */
  border: none;
  background-color: #fff6e9;
}

.exit-night {
  position: absolute;
  top: 0; /* Position at the top of the container */
  right: 0; /* Position at the right of the container */
  padding: 10px; /* Adjust as needed to add space around the button */
  cursor: pointer; /* Add a cursor style to indicate it's clickable */
  border: none;
  background-color: #bfbae1;
}

/* If you want to change the button color */
.exit-button-container svg {
  fill: #f24e1e; /* Adjust the color as needed */
}

/* BackComponent.css */
.back {
  background-color: #617a55; /* Sets the background color to green */
  position: relative; /* This is fine if the element is part of a larger layout */
  display: flex; /* Enable flex properties for centering */
  align-items: center; /* Centers content vertically within the element */
  justify-content: center; /* Centers content horizontally within the element */
  height: 650px; /* Set a minimum height of the viewport height */
  width: 550px; /* Set a minimum width of the viewport width */
  border-radius: 10%; /* Adds rounded corners with a 10% border radius */
  right: 25px;
  top: 70px;
}

.back-night {
  background-color: #764886; /* Sets the background color to green */
  position: relative; /* This is fine if the element is part of a larger layout */
  display: flex; /* Enable flex properties for centering */
  align-items: center; /* Centers content vertically within the element */
  justify-content: center; /* Centers content horizontally within the element */
  height: 650px; /* Set a minimum height of the viewport height */
  width: 550px; /* Set a minimum width of the viewport width */
  border-radius: 10%; /* Adds rounded corners with a 10% border radius */
  right: 25px;
  top: 70px;
}

.front {
  position: absolute;
  background-color: #a4d0a4;
  width: 550px;
  height: 650px;
  left: 50px;
  bottom: 50px;
  border-radius: 10%;
  padding-bottom: 100px;
}

.front-night {
  position: absolute;
  background-color: #c9d3f5;
  width: 550px;
  height: 650px;
  left: 50px;
  bottom: 50px;
  border-radius: 10%;
  padding-bottom: 100px;
}

.top {
  position: absolute;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px;
  left: 100px;
  bottom: 585px;
  border-radius: 20px;
}

.top-night {
  position: absolute;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px;
  left: 100px;
  bottom: 585px;
  border-radius: 20px;
}

.text {
  font-size: 42px;
  text-align: center; /* Horizontally centers the text within the h1 element */
  line-height: 2; /* Vertically centers the text within the h1 element */
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

.text-night {
  font-size: 42px;
  text-align: center; /* Horizontally centers the text within the h1 element */
  line-height: 2; /* Vertically centers the text within the h1 element */
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}

.grid {
  position: relative;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  border: 1px solid #ccc; /* Optional: Add a border to visualize the container */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 5px; /* Optional: Add padding for spacing */
  background-color: #d0e7d2;
  margin-top: 5px;
}

.grid-night {
  position: relative;
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  border: 1px solid #ccc; /* Optional: Add a border to visualize the container */
  border-radius: 5px; /* Optional: Add rounded corners */
  padding: 5px; /* Optional: Add padding for spacing */
  background-color: #ffd2d7;
  margin-top: 5px;
}

.star {
  position: absolute;
}

.star-number {
  position: absolute;
  padding-left: 35px;
  padding-top: 16px;
  font-size: 25px;
  color: #f7d060;
}

.star-night {
  position: absolute;
}

.trophies {
  display: block;
}

.trophies-night {
  display: block;
}

.arrow {
  display: block;
}

.arrow-night {
  display: block;
}

.player-box {
  border: 2px solid beige;
  margin: 5px;
}
.player-box-night {
  border: 2px solid #ffd2d7;
  margin: 5px;
}

.player {
  color: #7d5d1e;
  background-color: #d0e7d2;
  height: 100%;
  font-family: "Kanit", sans-serif;
}
.player-night {
  color: #7d5d1e;
  background-color: #ffd2d7;
  height: 100%;
  font-family: "Kanit", sans-serif;
}

.score {
  background-color: white;
  font-family: "Kanit", sans-serif;
}

.top-ranking {
  display: flex;
}

.diff-btn {
  float: left;
  top: 10px;
  font-size: 30px;
  font-family: "Kanit", "sans-serif";
  margin-top: 10px;
}
.diff-btn-night {
  float: left;
  top: 10px;
  font-size: 30px;
  font-family: "Kanit", "sans-serif";
  margin-top: 10px;
}

.ez {
  background-color: #fff8e1;
  font-size: 15px;
  font-weight: 800;
}
.ez-night {
  background-color: #b9b4c7;
  font-size: 15px;
  font-weight: 800;
}
.md {
  background-color: #f8ead8;
  font-size: 15px;
  font-weight: 800;
}
.md-night {
  background-color: #5c5470;
  color: white;
  font-size: 15px;
  font-weight: 800;
}
.hd {
  background-color: #eddbc7;
  font-size: 15px;
  font-weight: 800;
}
.hd-night {
  background-color: #352f44;
  color: white;
  font-size: 15px;
  font-weight: 800;
}
/* End of Leaderboard */

/* Start of Game & Board  */
#easy-board {
  width: 320px;
  height: 320px;
  border: 10px solid darkgray;
  background-color: lightgray;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#easy-board div {
  width: 50px;
  height: 50px;
  border: 1px solid whitesmoke;

  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Game & Board  */

.grid-div-6 {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 475px;
  height: 475px;
  align-items: center;
  margin: auto;
  border: 10px solid darkgrey;
}
.grid-div-6-night {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  width: 475px;
  height: 475px;
  align-items: center;
  margin: auto;
  border: 10px solid #4477CE;
}
.block-6 {
  width: 75px;
  height: 75px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: lightgray; /* Add a background color for each block */
}
.grid-div-6-night .block-6 {
  width: 75px;
  height: 75px;
  border: 1px solid #4477CE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #C9D3F5; /* Add a background color for each block */
}
.grid-div-9 {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  width: 605px;
  height: 605px;
  align-items: center;
  margin: auto;
  border: 10px solid darkgrey;
}
.grid-div-9-night {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  width: 605px;
  height: 605px;
  align-items: center;
  margin: auto;
  border: 10px solid #4477CE;
}
.block-9 {
  width: 65px;
  height: 65px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: lightgray; /* Add a background color for each block */
}
.grid-div-9-night .block-9 {
  width: 65px;
  height: 65px;
  border: 1px solid #4477CE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #C9D3F5; /* Add a background color for each block */
}
.grid-div-12 {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  width: 680px;
  height: 680px;
  align-items: center;
  margin: auto;
  border: 10px solid darkgrey;
}
.grid-div-12-night {
  display: grid; /* Use CSS Grid */
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  width: 680px;
  height: 680px;
  align-items: center;
  margin: auto;
  border: 10px solid #4477CE;
}
.block-12 {
  width: 55px;
  height: 55px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: lightgray; /* Add a background color for each block */
}
.grid-div-12-night .block-12 {
  width: 55px;
  height: 55px;
  border: 1px solid #4477CE;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #C9D3F5;
}
.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scoreboard-player {
  margin-right: auto;
  margin-left: auto;
  order: 1; /* Place player on the right */
}

.scoreboard-opponent {
  margin-right: auto;
  margin-left: auto;
  order: 2; /* Place opponent on the left */
}
.countdowntm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.avatar-selection-page {
  text-align: center;
  padding: 20px;
  background-color: #faf0e6;
}
.avatar-selection-page-night {
  text-align: center;
  padding: 20px;
  background-color: #c9d3f5;
}

.text h1 {
  font-weight: bold; /* Set the text within h1 to be bold */
  font-family: "Kanit", sans-serif; /* Use the Kanit font */
  font-size: 52px; /* Set the desired font size in pixels */
  margin-bottom: 40px;
}

.text-night h1 {
  font-weight: bold; /* Set the text within h1 to be bold */
  font-family: "Kanit", sans-serif; /* Use the Kanit font */
  font-size: 52px; /* Set the desired font size in pixels */
  margin-bottom: 40px;
}

.avatar-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns, adjust as needed */
  grid-gap: 40px; /* Adjust the gap between avatars */
}
.avatar-grid-night {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns, adjust as needed */
  grid-gap: 40px; /* Adjust the gap between avatars */
}

/* Style the AvatarSelection component */
.image {
  background-color: #fccbbf;
  border: 4px solid black; /* Border style and color */
  border-radius: 10px;
  padding: 10px; /* Add some spacing around avatars */
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-grid-night .image {
  background-color: #5c469c;
  border: 4px solid black; /* Border style and color */
  border-radius: 10px;
  padding: 10px; /* Add some spacing around avatars */
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-avatar {
  position: relative; /* Add relative positioning for pseudo-elements */
  padding: 6px; /* Increase the padding for a larger border */
}

.selected-avatar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 10px solid transparent; /* Border width for the highlighting effect */
  border-image: linear-gradient(135deg, #ff5733, #00aaff) 1;
  border-image-slice: 1;
  transition: border 0.2s ease; /* Add a transition for the border property */
}

.selected-avatar:hover::before {
  border-image: linear-gradient(135deg, #00aaff, #ff5733) 1;
}

/* Center the main menu button */
#mainmenu-btn {
  margin-top: 20px;
  background-color: #8c8c8c;
}
#mainmenu-btn-night {
  margin-top: 20px;
  background-color: #0c134f;
}

.avatarpg-btn {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.avatarpg-btn-night {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* End of Avatar */

/* Start of Wait */
/* Wait.css */
.copy {
  display: flex;
  font-family: "Kanit", sans-serif;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text within the container */
  background-color: #faf0e6;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 500px;
}
.copy-night {
  display: flex;
  font-family: "Kanit", sans-serif;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text within the container */
  background-color: #BFBAE1;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 500px;
}
.copy-message {
  font-weight: 400;
  margin-bottom: 10px;
}

.copy-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.copy-box {
  display: flex;
  align-items: center; /* Center elements horizontally on the same line */
  margin-bottom: 10px;
}

.room-label {
  font-weight: 400;
}

.copy-area {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.copy-button {
  display: inline-flex; /* Display the button next to the input */
  align-items: center; /* Center button content vertically */
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing between the input and button */
}

.wait-message {
  font-weight: 400;
  margin-top: 10px;
}
#back-btn {
  background-color: #d9d9d9;
  display: flex;
  align-items: center; /* Vertically align content */
  font-size: 20px;
  color: black;
}
#back-btn {
  background-color: #d9d9d9;
  display: flex;
  align-items: center; /* Vertically align content */
  font-size: 20px;
  color: black;
}

.backarrow svg {
  margin-right: 10px;
  margin-bottom: 5px;
}
.back-button {
  text-decoration: none;
}

/* Add hover styles for the link if needed */
.back-button:hover {
  text-decoration: none; /* To remove underline on hover */
}

/* End of Wait */

/* Start of InputForm */
.input-container {
  font-family: "Kanit", sans-serif;
  display: flex;
}
.input-container-night {
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
}
.seldiff h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px gray;
}
.seldiff-night h1 {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  margin-bottom: 20px;
  text-shadow: 2px 2px 8px gray;
}
.name-box {
  border-radius: 5px;
  padding: 10px;
  background-color: #fff6e9;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
}
.name-box-night {
  border-radius: 5px;
  padding: 10px;
  background-color: #bfbae1;
  width: 100%;
  margin-bottom: 10px;
  font-size: 30px;
}
.difficulty-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px; /* Set a fixed width and height for a square container */
  height: 300px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff8d6;
  text-align: center;
  font-size: 16px;
}
.difficulty-buttons-night {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px; /* Set a fixed width and height for a square container */
  height: 300px;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  background-color: #faf0e6;
  text-align: center;
  font-size: 16px;
}
.easy,
.med,
.hard {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 70px;
  margin: 10px;
}
.easy-night,
.med-night,
.hard-night {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 300px;
  height: 70px;
  margin: 10px;
}
.easy {
  background-color: #edd7b3;
  color: #bb1f1f;
}
.easy-night {
  background-color: #b9b4c7;
  color: black;
}

.easy .btn {
  color: #bb1f1f;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}
.easy-night .btn {
  color: black;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}
.med {
  background-color: #c08261;
  color: black;
}
.med .btn {
  color: black;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}
.med-night {
  background-color: #5c5470;
  color: #faf0e6;
}
.med-night .btn {
  color: #faf0e6;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}
.hard {
  background-color: #9a3b3b;
  color: #fff8d6;
}
.hard .btn {
  color: #fff8d6;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}
.hard-night {
  background-color: #352f44;
  color: #fff8d6;
}
.hard-night .btn {
  color: #fff8d6;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 32px;
}

/* YourComponent.css */

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #fff6e9;
  padding-bottom: 500px;
}
.input-container-night {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #BFBAE1;
  padding-bottom: 500px;
}
.namebox,
.roombox {
  margin: 10px;
}
.namebox-night,
.roombox-night {
  margin: 10px;
}
.namebox input,
.roombox input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}
.namebox-night input,
.roombox-night input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}
.nav-container {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center; /* Align items in the center */
  margin-top: 20px;
}
.nav-container-night {
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center; /* Align items in the center */
  margin-top: 20px;
}
.backbtn {
  background-color: #d9d9d9;
  color: black;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}
.backbtn-night {
  background-color: #0C134F;
  color: white;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
}
.backbtn .btn {
  background-color: #d9d9d9;
  color: black;
  width: 300px;
  font-weight: bold;
  font-size: 25px;
}
.backbtn-night .btn {
  background-color: #0C134F;
  color: white;
  width: 300px;
  font-weight: bold;
  font-size: 25px;
}

.joinbtn {
  background-color: #ffd9c0;
  color: black;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}
.joinbtn .btn {
  background-color: #ffd9c0;
  color: black;
  width: 300px;
  font-weight: bold;
  font-size: 25px;
}
.joinbtn-night {
  background-color: #5C469C;
  color: white;
  border-radius: 5px;
  width: 300px;
  height: 50px;
}
.joinbtn-night .btn {
  background-color: #5C469C;
  color: white;
  width: 300px;
  font-weight: bold;
  font-size: 25px;
}

.title {
  font-size: 36px; /* Adjust the font size as needed */
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Add spacing below the title */
  color: #d4492a;
  font-weight: 800;
  text-shadow: 1px 1px 1px gray;
}
.title-night {
  font-size: 36px; /* Adjust the font size as needed */
  text-align: center; /* Center align the title */
  margin-bottom: 20px; /* Add spacing below the title */
  color: #ffd469;
  font-weight: 800;
  text-shadow: 1px 1px 1px gray;
}
/* End of InputForm */

/* Start of Choice Start New Join Game */
.choice-container {
  display: flex;
  background-color: #fff6e9;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", "san-serif";
}
.choice-container-night {
  display: flex;
  background-color: #bfbae1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", "san-serif";
}
.choice-container .startnew {
  margin-right: 10px; /* Add space to the right of the "Start New" button */
}
.choice-container-night .startnew-night {
  margin-right: 10px; /* Add space to the right of the "Start New" button */
}
.choice-container .joingame {
  margin-left: 10px; /* Add space to the left of the "Join Game" button */
}
.choice-container-night .joingame-night {
  margin-left: 10px; /* Add space to the left of the "Join Game" button */
}
.startnew .btn {
  background-color: white(203, 66, 66);
  color: #8c8c8c;
  width: 250px;
  font-size: 20px;
}
.startnew-night .btn {
  background-color: white(203, 66, 66);
  color: #8c8c8c;
  width: 250px;
  font-size: 20px;
}
.startnew {
  background-color: white;
  color: #8c8c8c;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.startnew-night {
  background-color: white;
  color: #8c8c8c;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.joingame {
  background-color: white;
  color: #8c8c8c;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.joingame-night {
  background-color: white;
  color: #8c8c8c;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  width: 250px;
  height: 50px;
}
.joingame .btn {
  background-color: white;
  color: #8c8c8c;
  width: 250px;
  font-size: 20px;
}
.joingame-night .btn {
  background-color: white;
  color: #8c8c8c;
  width: 250px;
  font-size: 20px;
}
/* End of Choice Start New Join Game */

/* Start of MainMenu */
.mainmenu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff6e9;
  padding: 10px; /* Add padding to create spacing around the content */
  font-family: "Kanit", "san-serif";
}
.mainmenu-container-night {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #bfbae1;
  padding: 10px; /* Add padding to create spacing around the content */
  font-family: "Kanit", "san-serif";
}
.maintitle h1 {
  margin-bottom: 5px; /* Add margin at the bottom of the title */
  color: #d4492a;
  font-weight: 700;
  text-shadow: 1px 1px 1px gray;
}
.maintitle-night h1 {
  margin-bottom: 5px; /* Add margin at the bottom of the title */
  color: #ffd469;
  font-weight: 700;
  text-shadow: 1px 1px 1px gray;
}

#leaderboard-btn,
#avatar-btn {
  margin: 10px 0; /* Add margin above and below the buttons */
  width: 420px; /* Adjust the width of the buttons if needed */
  height: 70px;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
}
#leaderboard-btn-night,
#avatar-btn-night {
  margin: 10px 0; /* Add margin above and below the buttons */
  width: 420px; /* Adjust the width of the buttons if needed */
  height: 70px;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
}
#avatar-btn {
  background-color: #b5cb99;
  color: black;
}
#leaderboard-btn {
  background-color: #186f65;
}
#avatar-btn-night {
  background-color: #d4adfc;
  color: black;
}
#leaderboard-btn-night {
  background-color: #5c469c;
}
body,
html {
  margin: 0;
  padding: 0;
  background-color: #fff6e9;
}
.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Add margin for spacing */
}
.theme-container-night {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Add margin for spacing */
}
.theme h2 {
  color: #8c8c8c;
  font-size: 20px;
  margin-bottom: 5px;
}
.theme-night h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 5px;
}
#day-btn,
#night-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 40px; /* Increased height for better alignment */
  background-color: #ffd9c0;
  margin-top: 10px; /* Add space between each pair */
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#day-btn-night,
#night-btn-night {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 40px; /* Increased height for better alignment */
  background-color: #ffd9c0;
  margin-top: 10px; /* Add space between each pair */
  color: black;
  font-size: 20px;
  font-weight: bold;
}
#day-btn {
  margin-top: 5px;
}
.daynight {
  display: flex;
  justify-content: center; /* Center horizontally */
}
#day-btn-night {
  margin-top: 5px;
}
.daynight-night {
  display: flex;
  justify-content: center; /* Center horizontally */
}
/* start of game page */

#default-background-color-font {
  background-color: #fff6e9;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Kanit", sans-serif;
}

#default-background-color-font-night {
  background-color: #bfbae1;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Kanit", sans-serif;
}

.in-line-grid {
  display: flex;
}
.in-line-grid-night {
  display: flex;
}
.findmymines-text {
  font-family: "Kanit", sans-serif;
  font-size: 70px;
  color: #d4492a;
  font-weight: bold;
}
.findmymines-text-night {
  font-family: "Kanit", sans-serif;
  font-size: 70px;
  color: #FFD469;
  font-weight: bold;
}
/* result modal css */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 50px; /* Use a large value for a rounded effect */
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.overlay-night {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
#you-win {
  font-size: 50px;
  color: #3b9830;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
#you-win-night {
  font-size: 50px;
  color: #3b9830;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
#you-lose {
  font-size: 50px;
  color: #bb1f1f;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
#you-lose-night {
  font-size: 50px;
  color: #bb1f1f;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}

.result-modal-text {
  font-size: 50px;
  color: #d4492a;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
.result-modal-text-night {
  font-size: 50px;
  color: #d4492a;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
}
.restart-btn {
  font-size: 25px;
  border-radius: 4px;
  background-color: #ffd9c0;
  color: black;
  border: 1px solid black; /* Green */
  padding: 2px 5px;
  margin-bottom: 15px;
}
.restart-btn-night {
  font-size: 30px;
  border-radius: 4px;
  background-color: #ffd9c0;
  color: black;
  border: 1px solid black; /* Green */
  padding: 2px 5px;
  margin-bottom: 15px;
}

.bombscore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* how to play */
.how-to-play {
  font-size: 50px;
  color: #d4492a;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 5px gray;
}
.how-to-play-night {
  font-size: 50px;
  color: #FFD469;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 3px black;
}
.how-to-play-container {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  justify-content: center;
  background-color: #ffd9c0;
  text-align: left;
  position: relative; /* This is fine if the element is part of a larger layout */
  height: 600px; /* Set a minimum height of the viewport height */
  width: 600px; /* Set a minimum width of the viewport width */
  border-radius: 10%; /* Adds rounded corners with a 10% border radius */
  left: 450px;
  top: 100px;
  padding: 40px;
}
.how-to-play-container-night {
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif;
  justify-content: center;
  background-color: #5c469c;
  color: white;
  text-align: left;
  position: relative; /* This is fine if the element is part of a larger layout */
  height: 600px; /* Set a minimum height of the viewport height */
  width: 600px; /* Set a minimum width of the viewport width */
  border-radius: 10%; /* Adds rounded corners with a 10% border radius */
  left: 450px;
  top: 100px;
  padding: 40px;
}
.instructions-text {
  font-size: 18px;
  font-weight: bold;
}

.mine-images {
  display: flex;
  align-items: center;
}

.bomb-image,
.golden-bomb-image {
  margin: 0 10px;
  width: 60px;
  height: 60px;
}

.good-luck-text {
  color: #186f65;
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px grey;
  text-align: center;
}

.good-luck-text-night {
  color: #79AC78;
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px grey;
  text-align: center;
}